<a href="" class="btn px-0 ml-2" data-toggle="modal" data-target="#modal-cart">
    <i class="fas fa-shopping-cart text-dark"></i>
    <span class="badge text-dark border border-dark rounded-circle cart-info" style="padding-bottom: 2px;">{{ text_items
        }}</span>
</a>

<!-- Modal -->
<div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ text_title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="in-cart">
                    {% if products %}
                    <div class="table-esponsive">
                        <table class="table">
                            <tbody>
                                {% for product in products %}
                                <tr class="text-left">
                                    <td>
                                        <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt=""></a>
                                    </td>
                                    <td>
                                        <a href="{{ product.href }}">{{ product.name }}</a>
                                        {% if product.option %}
                                        {% for option in product.option %} <br />
                                        - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
                                        {% endif %}
                                        {% if product.recurring %} <br />
                                        - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}
                                    </td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.total }}</td>
                                    <td>
                                        <button class="btn btn-danger" type="button"
                                            onclick="cart.remove('{{ product.cart_id }}');"><i
                                                class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <p class="text-left">{{ text_empty }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <table class="table table-bordered">
                    {% for total in totals %}
                    <tr>
                        <td class="text-right"><strong>{{ total.title }}</strong></td>
                        <td class="text-right">{{ total.text }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <a href="{{ cart }}" class="btn btn-secondary">{{ text_cart }}</a>
                <a href="{{ checkout }}" class="btn btn-primary">{{ text_checkout }}</a>
            </div>
        </div>
    </div>
</div>