{{ header }}

<div id="product-product">

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    {% for breadcrumb in breadcrumbs %}
                        {% if loop.last %}
                            <span class="breadcrumb-item active">{{ breadcrumb.text }}</span>
                        {% else %}
                            <a class="breadcrumb-item text-dark" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        {% endif %}
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    {% if thumb or images %}
        {% set class = 'col-lg-7' %}
    {% else %}
        {% set class = 'col-lg-12' %}
    {% endif %}

    <div class="container-fluid pb-5">
        <div class="row px-xl-5">

            {% if thumb or images %}

                {% if thumb %}
                    {% set gallery = [{popup: thumb, thumb: thumb}]|merge(images) %}
                {% else %}
                    {% set gallery = images %}
                {% endif %}

                <div class="col-lg-5 mb-30">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner bg-light">
                            {% for image in gallery %}
                                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                                    <img class="w-100 h-100" src="{{ image.popup }}" alt="{{ heading_title }}">
                                </div>
                            {% endfor %}
                        </div>
                        {% if gallery|length > 1 %}
                            <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                                <i class="fa fa-2x fa-angle-left text-dark"></i>
                            </a>
                            <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                                <i class="fa fa-2x fa-angle-right text-dark"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div class="{{ class }} h-auto mb-30" id="product">
                {{ content_top }}
                <div class="h-100 bg-light p-30">
                    <h3>{{ heading_title }}</h3>

                    {% if review_status %}
                        <div class="d-flex mb-3">
                            <div class="rating text-primary mr-2">
                                {% for i in 1..5 %}
                                    {% if rating < i %}
                                        <small class="far fa-star"></small>
                                    {% else %}
                                        <small class="fas fa-star"></small>
                                    {% endif %}
                                {% endfor %}
                            </div><!-- /.rating text-primary mr-2 -->
                            <small class="pt-1">({{ reviews }})</small>
                        </div><!-- ./d-flex mb-3 -->
                    {% endif %}

                    {% if price %}
                        {% if not special %}
                            <h3 class="font-weight-semi-bold mb-4">{{ price }}</h3>
                        {% else %}
                            <h3 class="font-weight-semi-bold mb-4">
                                {{ special }}
                                <small class="text-muted ml-2">
                                    <del>{{ price }}</del>
                                </small>
                            </h3>
                        {% endif %}
                    {% endif %}

                    <p><strong>{{ text_stock }}</strong> {{ stock }}</p>

                    {% if options %}

                        {% for option in options %}

                            {% if option.type == 'radio' %}
                                <div class="d-flex mb-3{% if option.required %} required-option {% endif %}"
                                     id="input-option{{ option.product_option_id }}">
                                    <strong class="text-dark mr-3">Sizes:</strong>

                                    {% for option_value in option.product_option_value %}
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input"
                                                   id="option-{{ option.product_option_id }}{{ loop.index }}"
                                                   name="option[{{ option.product_option_id }}]"
                                                   value="{{ option_value.product_option_value_id }}">
                                            <label class="custom-control-label"
                                                   for="option-{{ option.product_option_id }}{{ loop.index }}">
                                                {{ option_value.name }}
                                                {% if option_value.price %}
                                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                                {% endif %}
                                            </label>
                                        </div>
                                    {% endfor %}

                                </div>
                            {% endif %}

                        {% endfor %}

                    {% endif %}

                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" name="quantity" class="form-control bg-secondary border-0 text-center"
                                   value="{{ minimum }}" id="input-quantity">
                            <input type="hidden" name="product_id" value="{{ product_id }}"/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary px-3" id="button-cart"
                                data-loading-text="{{ text_loading }}"><i
                                    class="fa fa-shopping-cart mr-1"></i> {{ button_cart }}
                        </button>
                    </div>

                    {% if minimum > 1 %}
                        <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                    {% endif %}

                </div><!-- ./h-100 bg-light p-30 -->
                {{ content_bottom }}
            </div><!-- ./class h-auto mb-30 -->

        </div><!-- ./row px-xl-5 -->

        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab"
                           href="#tab-description">{{ tab_description }}</a>

                        {% if attribute_groups %}
                            <a class="nav-item nav-link text-dark" data-toggle="tab"
                               href="#tab-specification">{{ tab_attribute }}</a>
                        {% endif %}

                        {% if review_status %}
                            <a class="nav-item nav-link text-dark" data-toggle="tab"
                               href="#tab-review">{{ tab_review }}</a>
                        {% endif %}
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-description">
                            {{ description }}
                        </div>

                        {% if attribute_groups %}
                            <div class="tab-pane fade" id="tab-specification">
                                <table class="table table-bordered">
                                    {% for attribute_group in attribute_groups %}
                                        <thead>
                                        <tr>
                                            <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for attribute in attribute_group.attribute %}
                                            <tr>
                                                <td>{{ attribute.name }}</td>
                                                <td>{{ attribute.text }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}

                        {% if review_status %}
                            <div class="tab-pane fade" id="tab-review">
                                <form class="form-horizontal" id="form-review">
                                    <div id="review"></div>
                                    <h2>{{ text_write }}</h2>
                                    {% if review_guest %}
                                        <div class="form-group row required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-name">{{ entry_name }}</label>
                                                <input type="text" name="name" value="{{ customer_name }}"
                                                       id="input-name" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group row required">
                                            <div class="col-sm-12">
                                                <label class="control-label"
                                                       for="input-review">{{ entry_review }}</label>
                                                <textarea name="text" rows="5" id="input-review"
                                                          class="form-control"></textarea>
                                                <div class="help-block">{{ text_note }}</div>
                                            </div>
                                        </div>
                                        <div class="form-group row required">
                                            <div class="col-sm-12">
                                                <label class="control-label">{{ entry_rating }}</label>
                                                &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                                                <input type="radio" name="rating" value="1"/>
                                                &nbsp;
                                                <input type="radio" name="rating" value="2"/>
                                                &nbsp;
                                                <input type="radio" name="rating" value="3"/>
                                                &nbsp;
                                                <input type="radio" name="rating" value="4"/>
                                                &nbsp;
                                                <input type="radio" name="rating" value="5"/>
                                                &nbsp;{{ entry_good }}</div>
                                        </div>
                                        {{ captcha }}
                                        <div class="buttons clearfix">
                                            <div class="pull-right">
                                                <button type="button" id="button-review"
                                                        data-loading-text="{{ text_loading }}"
                                                        class="btn btn-primary">{{ button_continue }}</button>
                                            </div>
                                        </div>
                                    {% else %}
                                        {{ text_login }}
                                    {% endif %}
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div><!-- ./container-fluid pb-5 -->

    {% if products %}
        <div class="container-fluid py-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                        class="bg-secondary pr-3">{{ text_related }}</span>
            </h2>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        {% for product in products %}
                            <div class="product-item bg-light">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{{ product.thumb }}" alt="">
                                    <div class="product-action">
                                        <button type="button" onclick="cart.add('{{ product.product_id }}');"
                                                class="btn btn-outline-dark btn-square" href="">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" onclick="wishlist.add('{{ product.product_id }}');"
                                                class="btn btn-outline-dark btn-square" href="">
                                            <i class="far fa-heart"></i>
                                        </button>
                                        <button type="button" onclick="compare.add('{{ product.product_id }}');"
                                                class="btn btn-outline-dark btn-square" href="">
                                            <i class="fa fa-sync-alt"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate"
                                       href="{{ product.href }}">{{ product.name }}</a>
                                    {% if product.price %}
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            {% if not product.special %}
                                                <h5>{{ product.price }}</h5>
                                            {% else %}
                                                <h5>{{ product.special }}</h5>
                                                <h6 class="text-muted ml-2">
                                                    <del>{{ product.price }}</del>
                                                </h6>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        {% for i in 1..5 %}
                                            {% if product.rating < i %}
                                                <small class="far fa-star text-primary mr-1"></small>
                                            {% else %}
                                                <small class="fa fa-star text-primary mr-1"></small>
                                            {% endif %}
                                        {% endfor %}
                                        <small>({{ product.reviews }})</small>
                                    </div>

                                    <div class="cart-buttons mt-2">
                                        <button type="button" onclick="cart.add('{{ product.product_id }}');"
                                                class="btn btn-outline-dark btn-square" href="">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" onclick="wishlist.add('{{ product.product_id }}');"
                                                class="btn btn-outline-dark btn-square" href="">
                                            <i class="far fa-heart"></i>
                                        </button>
                                        <button type="button" onclick="compare.add('{{ product.product_id }}');"
                                                class="btn btn-outline-dark btn-square" href="">
                                            <i class="fa fa-sync-alt"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div><!-- #product-product -->

<script type="text/javascript"><!--
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function () {
                $('#recurring-description').html('');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['success']) {
                    $('#recurring-description').html(json['success']);
                }
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('#button-cart').on('click', function () {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-cart').button('loading');
            },
            complete: function () {
                $('#button-cart').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                }

                if (json['success']) {
                    $('span.cart-info').html(json['total']);
                    $('#modal-cart .modal-body').load('index.php?route=common/cart/info .in-cart');
                    $('#modal-cart').modal();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        language: '{{ datepicker }}',
        pickTime: false
    });

    $('.datetime').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: true,
        pickTime: true
    });

    $('.time').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: false
    });

    $('button[id^=\'button-upload\']').on('click', function () {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(node).button('loading');
                    },
                    complete: function () {
                        $(node).button('reset');
                    },
                    success: function (json) {
                        $('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input').val(json['code']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('#review').delegate('.pagination a', 'click', function (e) {
        e.preventDefault();

        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');
    });

    $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

    $('#button-review').on('click', function () {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id={{ product_id }}',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function () {
                $('#button-review').button('loading');
            },
            complete: function () {
                $('#button-review').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                    alert(json['error']);
                    $('#button-review').after('<div class="alert alert-danger alert-dismissible my-2"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    alert(json['success']);
                    $('#button-review').after('<div class="alert alert-success alert-dismissible my-2"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });

    $(document).ready(function () {
        $('.thumbnails').magnificPopup({
            type: 'image',
            delegate: 'a',
            gallery: {
                enabled: true
            }
        });
    });
    //--></script>
{{ footer }}
