<!-- Categories Start -->
<div class="container-fluid pt-5">
	<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
		<span class="bg-secondary pr-3">{{ heading_title }}</span>
	</h2>
	<div class="row px-xl-5 pb-3">
		{% for category in categories %}
			<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
				<a class="text-decoration-none" href="{{ category.href }}">
					<div class="cat-item d-flex align-items-center mb-4">
						<div class="overflow-hidden" style="width: 100px; height: 100px;">
							<img class="img-fluid" src="{{ category.image }}" alt="">
						</div>
						<div class="flex-fill pl-3">
							<h6>{{ category.name }}</h6>
							<small class="text-body">{{ text_total_products }}
								{{ category.total_products }}</small>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}

	</div>
</div>
<!-- Categories End -->
